:root {
  --daniel-fg-color: white;
  --daniel-bg-color: #0f0f0f;
  --daniel-progress-color: #666;
  --daniel-user-background: linear-gradient(#efefef, #c2c2c2);

  --daniel-chat-font-size: 48px;
  --daniel-chat-line-height: calc(var(--daniel-chat-font-size) * 1.5);

  --transition-speed: 1000ms;
  --transition-color: background-color var(--transition-speed),
                      color var(--transition-speed),
                      border-color var(--transition-speed);
}

html body {
  background-color: transparent;
  margin: 0px;
}

#chat_container {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: var(--daniel-chat-font-size);
  line-height: var(--daniel-chat-line-height);
}

.chat_line:first-child {
  margin-top: 0
}
